body {
    margin: 0;
}

input {
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

* {
    outline: none;
}

.wrapper {
    max-width: 990px;
    margin: 0 auto;
}

h1 {
    color: #1f222c;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.forms {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: #b3b3b3;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.common-form,
.fixed-form {
    display: inline-block;
    position: relative;
    width: 330px;
}


.fix-form {
    z-index: 7;
}

.fix-form:before,
.fix-form:after {
    content: "";
    position: absolute;
    width: 15px;
    right: 0;
    cursor: pointer;
}

.fix-form:before {
    height: 16px;
    border-left: 2px solid #949494;
    transform: rotate(42deg);
}

.fix-form:after {
    top: 15px;
    height: 16px;
    border-right: 2px solid #949494;
    transform: rotate(139deg);
}

.exit:hover+.fix-form::before,
.exit:hover+.fix-form:after {
    border: 2px solid #07be51;
}

.exit {
    position: absolute;
    right: 6px;
    top: 21px;
    width: 15px;
    height: 16px;
    z-index: 3;
}

.exit:focus+.fix-form {
    display: none;
}

.common-form input:not(.submit) {
    width: 330px;
}

.common-form textarea{
    width: 304px;
}

.submit {
    width: 330px;
}

.common-form select{
    width: 330px;
}
.common-form input:not(.submit),
.common-form textarea,
.form-select {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.common-form input:not(.submit),
.common-form textarea,
.form-select {
    margin-bottom: 10px;
}

.common-form input:focus:not(.submit),
.common-form textarea:focus,
input:focus:not(input[type="checkbox"], input[type="radio"], input[type="submit"], input[type="button"]),
textarea:focus:not(input[type="checkbox"], input[type="radio"]) {
    border-color: #3d69ff;
    box-shadow: #3d69ff 0 0 2.5px;
}

.common-form input,
.form-select {
    color: #1f222c;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.common-form option {
    padding: 12px 15px;
}

.common-form input,
.common-form select,
.common-form textarea {
    padding: 12px;
}

input::placeholder,
.common-form option,
select {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    appearance: none;
}

.select-arrow {
    content: "";
    position: absolute;
    right: 23px;
    z-index: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #1f222c;
    cursor: pointer;
}

.top-setting {
    top: 183px;
}

input::placeholder,
.form-select option:first-child {
    color: #b3b3b3;
}

.common-form textarea::placeholder {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}



.submit {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
    background: #12d661;
    border: 1px solid #12d661;
    border-radius: 3px;
}


.submit[value] {
    color: #fff;
}

.submit:hover {
    box-shadow: rgba(8, 118, 52, 0.35) 0px 2px 2.5px;
    background: #07be51;
    border-color: #07be51;
}

.fix-form {
    position: absolute;
    top: 53px;
    padding: 25px 23px 20px;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
}

.fixed-form{
    position: fixed;
    right: 249px;
    z-index: 5;
}

.fix-form h4 {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.fix-form input:not(.checkbox, .submit2) {
    width: 94%;
}

.fix-form input:first-child {
    margin: 0 1px;
}

.input-hover {
    padding-left: 12px;
    margin: 5px 0 11px 0;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.input-hover:focus {
    border-color: #3d69ff;
    box-shadow: #3d69ff 0 0 2.5px;
}

.fix-form a {
    color: #3e6aff;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
    margin-bottom: 15px;
}

.fix-form a:hover {
    text-decoration: underline;
}


.remember-me {
    display: flex;
    margin: 15px 0;
}

.remember-me span {
    color: #1f222c;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
}

.submit2 {
    padding: 15px 0;
    width: 100%;
}

hr {
    margin: 48px 0 51px;
    border-top: 1px solid #dcdcde;
    border-bottom: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.elements-section {
    display: flex;
    margin-bottom: 35px;
}

.elements-section form {
    margin-right: 60px;
}

.elements-section label {
    margin-bottom: 3px;
}

.elements-section span {
    color: #1f222c;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}

.elements-section form {
    display: grid;
    position: relative;
}


table {
    width: 100%;
}

.delivery span {
    position: relative;
}

.first-radio+.first-radio-label {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.first-radio {
    position: absolute;
    left: -6px;
    width: 105px;
    height: 20px;
    z-index: 3;
    opacity: 0;
}

.first-radio+.first-radio-label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.first-radio+.first-radio-label::before,
.first-radio+.first-radio-label::after {
    content: "";
    position: absolute;
}

.first-radio+.first-radio-label::before {
    left: 0;
    top: -1px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.first-radio:checked+.first-radio-label::before {
    border: 1px solid #244dd7;
    background-color: #fff;
}

.first-radio:checked+.first-radio-label::after {
    top: 2px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #244dd7;
    background-color: #244dd7;
}


.checkbox-accept,
.checkbox-accept2,
.checkbox-accept3 {
    position: absolute;
    left: -27px;
    padding-right: 25px;
    z-index: 5;
    opacity: 0;
}

.checkbox-accept4 {
    width: 149px;
    height: 16px;
    position: absolute;
    top: 195px;
    left: 19px;
    padding-right: 25px;
    z-index: 5;
    opacity: 0;
}

.checkbox-accept5 {
    position: absolute;
    left: 4px;
    padding-right: 25px;
    z-index: 5;
    opacity: 0;
}

.checkbox-accept6 {
    position: absolute;
    top: 2px;
    right: 12px;
    padding-right: 25px;
    z-index: 5;
    opacity: 0;
}

.checkbox-accept2 {
    top: 22px;
}

.checkbox-accept3 {
    top: 44px;
}

.checkbox-accept-label {
    position: relative;
}

.checkbox-accept-label::before,
.checkbox-accept-label::after {
    content: "";
    position: absolute;
}

.checkbox-accept+.checkbox-accept-label::before,
.checkbox-accept2+.checkbox-accept-label::before,
.checkbox-accept3+.checkbox-accept-label::before,
.checkbox-accept5+.checkbox-accept-label:before,
.checkbox-accept6+.checkbox-accept-label:before {
    left: -27px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #c5c5d4;
}

.checkbox-accept:checked+.checkbox-accept-label::before,
.checkbox-accept2:checked+.checkbox-accept-label::before,
.checkbox-accept3:checked+.checkbox-accept-label::before,
.checkbox-accept4:checked+.checkbox-accept-label::before,
.checkbox-accept5:checked+.checkbox-accept-label:before,
.checkbox-accept6:checked+.checkbox-accept-label:before {
    border: 1px solid #3d69ff;
}

.checkbox-accept:checked+.checkbox-accept-label::after,
.checkbox-accept2:checked+.checkbox-accept-label::after,
.checkbox-accept3:checked+.checkbox-accept-label::after,
.checkbox-accept4:checked+.checkbox-accept-label::after,
.checkbox-accept5:checked+.checkbox-accept-label:after,
.checkbox-accept6:checked+.checkbox-accept-label:after {
    z-index: 4;
}

.checkbox-accept+.checkbox-accept-label::after,
.checkbox-accept2+.checkbox-accept-label::after,
.checkbox-accept3+.checkbox-accept-label::after,
.checkbox-accept5+.checkbox-accept-label:after,
.checkbox-accept6+.checkbox-accept-label:after {
    left: -23px;
    top: 5px;
    width: 9px;
    height: 5px;
    border-left: 2px solid #3d69ff;
    border-bottom: 2px solid #3d69ff;
    z-index: 0;
    transform: rotate(-52deg);
    box-sizing: border-box;
}

.checkbox-accept4+.checkbox-accept-label:after {
    left: -15px;
    top: 4px;
    width: 9px;
    height: 5px;
    border-left: 2px solid #3d69ff;
    border-bottom: 2px solid #3d69ff;
    z-index: 0;
    transform: rotate(-52deg);
    box-sizing: border-box;
}

.checkbox-accept4+.checkbox-accept-label:before {
    left: -19px;
    top: -1px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #c5c5d4;
}

.position {
    left: 20px;
}

.fixed-form .checkbox-accept3 {
    left: 0;
}

.date-form {
    position: relative;
    padding: 20px;
    max-width: 473px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.date-form span:not(.head) {
    margin-right: 23px;
    padding-left: 21px;
}

.date-form input {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.date span {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}


.position3 {
    position: absolute;
    left: 120px;
}

.position4 {
    position: absolute;
    right: 254px;
}

.position5 {
    position: absolute;
    right: 110px;
}

.head {
    margin-right: 28px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.head-bottom {
    margin-right: 40px;
}

.date {
    display: flex;
}

.date input {
    color: #1f222c;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}

.date-top {
    margin-bottom: 15px;
}


.style-input {
    display: flex;
    justify-content: space-around;
    margin-bottom: 160px;
}



.people {
    position: relative;
    left: -401px;
}

.man {
    position: absolute;
    top: -3px;
    left: -4px;
    width: 159px;
    height: 70px;
    opacity: 0;
}

.woman {
    position: absolute;
    top: 83px;
    left: -4px;
    width: 159px;
    height: 70px;
    opacity: 0;
}

.man-label,
.woman-label {
    position: relative;
}


.man:checked+.man-label a,
.woman:checked+.woman-label a {
    color: #3e6aff;
}

.man-label a,
.woman-label a {
    left: 90px;
    position: absolute;
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
    text-decoration: none;
}

.man-label a {
    top: 23px;
}

.woman-label a {
    top: 111px;
}

.man+.man-label:before,
.woman+.woman-label:before {
    content: "";
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    filter: grayscale(1);
}

.man:checked+.man-label:before,
.woman:checked+.woman-label:before {
    filter: grayscale(0);
}



.man+.man-label:before {
    background: url(../img/men.png);
    top: 0;
}

.woman+.woman-label:before {
    background: url(../img/women.png);
    top: 86px;
}

.form-checkbox {
    position: relative;
}

.form-checkbox input {
    position: absolute;
    left: -47px;
    width: 45px;
    height: 22px;
    z-index: 4;
    opacity: 0;
}

.form-checkbox label {
    margin-bottom: 18px;
}

.form-checkbox label:before {
    content: "";
    position: absolute;
    left: -45px;
    width: 45px;
    height: 25px;
    background: #cfcfd1;
    border-radius: 12px;
}

.form-checkbox span {
    margin: 0px 18px;
    color: #1f222c;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}

.form-checkbox label:after {
    content: "";
    position: absolute;
    left: -42px;
    margin-top: 2px;
    width: 21px;
    height: 21px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    transition: all .5s ease;
}

.checkbox2 {
    top: 36px;
}

.checkbox3 {
    top: 72px;
}

.form-checkbox input:checked+label:after {
    left: -24px;
}

.form-checkbox input:checked+label:before {
    background: #3e6aff;
}

.table input {
    border-radius: 3px;
    border: 1px solid #ccc;
}




.people2 {
    position: relative;
    right: 223px;
}

.td-file {
    position: relative;
    right: 339px;
    top: -21px;
    margin: 25px;
}

.td-file span {
    position: absolute;
    top: -8px;
    left: 0px;
    padding: 20px 36px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
}

.table input[type="file"] {
    position: absolute;
    padding: 8px;
    width: 150px;
    color: transparent;
    background: #2857f4;
}

.file {
    position: absolute;
    margin-bottom: 14px;
    display: block;
    width: 170px;
    height: 41px;
    border-radius: 3px;
    background-color: #3e6aff;
    transition: all 1s ease;
    z-index: 1;
    cursor: pointer;
}


.form-checkbox {
    display: grid;
}

table {
    width: 500px;
}

.table tr td:first-child,
.table span:not(.td-file span) {
    margin-top: 16px;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.table tr {
    padding-bottom: 13px;
}

.table input:not(input[type="file"], input[type="radio"], .submit) {
    padding: 10px;
    width: 364px;
}

.table input[type="file"] {
    margin-right: 111px;
}

.table select {
    padding: 10px;
    width: 364px;
}

.table tr:first-child th {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
    padding-bottom: 24px;
}

h3 {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

.space-beetwen {
    justify-content: space-between;
}

.table {
    position: relative;
}

.table tr {
    display: flex;
}


.table textarea {
    width: 329px;
    height: 130px;
    padding: 15px 16px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}

.submit-tr {
    display: flex;
    justify-content: flex-end;
}

.submit-tr input {
    width: 364px;
    height: 44px;
}

.table2 {
    max-width: 684px;
}

.table2 table {
    width: 100%;
}

.second-table {
    position: relative;
}

.top-setting2 {
    left: 477px;
    top: 226px;
}

.top-setting3 {
    left: 239px;
    top: 41px;
}

.table2 input:not(input[type="submut"], input[type="checkbox"], #adress) {
    width: 223px;
    margin: 1px;
    padding: 12px 17px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* .table2 table input:first-child{
    width: 257px;
} */

.table2 select {
    padding: 10px 10px 11px 10px;
    width: 256px;
    border-color: #ccc;
    border-radius: 3px;
}

.adress {
    margin: 0;
    width: 522px;
}

#adress {
    margin: 0 4px;
    padding: 12px 17px;
    width: 99.9%;
    border-radius: 3px;
    border: 1px solid #ccc;

}

.table2 th {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    text-align: justify;
    font-family: "Roboto";
    padding-right: 86px;
}

.last-checkbox {
    display: flex;
    margin-top: 23px;
}

.last-checkbox span {
    color: #1f222c;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}

.last-checkbox {
    position: relative;
}

.position2 {
    left: 32px;
}

.first-button {
    color: #6e6f77;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    background-color: #fff;
    border: 1px solid #84868d;
}

.first-button:hover {
    color: #fff;
    background-color: #85868d;
}

.end-block{
    margin-bottom: 156px;
}